.body-portfolio {
    background-image: url(./images/IMG_7075.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px); 
    padding-bottom: 250px;
}

.carousel-item {
    padding: 100px;
}

.project {
    position: relative;
    margin-top: 3%;
    margin-left: 20%;
    box-shadow: 10px 10px 18px #888888; 
    width: 60%;
    height: 40%;
    padding: 40px;
}

.project:hover {
    width: 70%;
    height: 50%;
    margin-top: 1%;
    margin-left: 15%;
}

img {
    width: 100%;
    height: 100%;
}

@media (max-width: 850px) {
    .carousel-item {
        padding: 50px;
    }

    .project {
        position: relative;
        margin-top: 3%;
        margin-left: 15%;
        box-shadow: 10px 10px 18px #888888; 
        width: 70%;
        height: 50%;
        padding: 30px;
    }

    .project:hover {
        width: 80%;
        height: 60%;
        margin-top: 1%;
        margin-left: 10%;
    }
}