.body-portfolio {
    background-image: url(./images/IMG_7075.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    padding-bottom: 250px;
}

.carousel-item {
    padding: 50px;
}

h1, h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 4px 4px black;
}

h5 {
    color: #9D0208;
}

.carousel-item {
    padding-top: 30px !important;
}

img {
    width: 100%;
    height: 100%;
}

.card {
    border: solid;
    margin: 15px;
    box-shadow: 7px 7px 15px #888888;
    width: 190px;
}

.card:hover {
    transform: scale(1.06);
}

.card-head {
    padding: 3px;
}

.img-project {
    width: 180px;
    height: 100px;
}

.link {
    font-size: 0.7em;
}

@media (min-width: 1200px) {
    .card {
        border: solid;
        margin: 20px;
        box-shadow: 7px 7px 15px #888888;
        width: 250px;
    }

    .img-project {
        width: 240px;
        height: 150px;
    }
}
